html {
    width: 100vw;
}

body {
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    text-align: center;
    font-family: sans-serif;
    color: #EEE;
}

.bg {
    background-color: #45474D;
}

/* media queries */
@media (min-width: 600px) {
    .container {
        margin: 0 auto;
        width: 400px;
    }
}

summary {
    display: block;
    cursor: pointer;
    outline: 0;
}

summary::-webkit-details-marker {
    display: none;
}

.tree-nav__item {
    display: block;
    white-space: nowrap;
    color: #ccc;
    position: relative;
}